* {
    margin: 0;
    padding: 0;
}

.wrap {
    width: 100%;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 85%;
    margin: 0 auto;
}

/*NAVIGATION*/
.nav {
    background-color: #000000;
    
    top: 0;
}

.logo {
    display: inline-block;
    margin-right: 550px;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    line-height: 70px;
    color: #ffffff;
}

.logo span {
    color: #EC7979;
}

.menu {
    display: inline-block;
    vertical-align:super;
}

.menu a {
    text-decoration: none;
    margin-left: 48px;
    line-height: 70px;
    font-size: 15px;
    font-weight: 600;
    color: #FFFFFF;
    opacity: 0.7;
}

/*HEADER*/
.header {
    height: 600px;
    background: url(../image/header-background.png);
}

.header_text {
    display: inline-block;
    width: 550px;
    padding-top: 109px;
    margin-right: 272px;
}

.header_title {
    margin-bottom: 32px;
    font-size: 60px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
}

.header_title span {
    color: #EC7979;
}

.slogan {
    display: inline-block;
    margin-bottom: 32px;
    font-size: 36px;
    font-family: 'Raleway', sans-serif;
    color: #FFFFFF;
    text-transform: uppercase;
}

.header_line {
    border: 1px solid #ffffff;
    width: 64px;
    margin-bottom: 39px;
}

.header_subtitle {
    display: inline-block;
    width: 282px;
    margin-bottom: 39px;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    color: #ffffff;
    opacity: 0.8;
}

.header_button {
    background: transparent;
    display: block;
    width: 135px;
    height: 42px;
    left: 13px;
    top: 350px;

    border: 1px solid #FFFFFF;
    box-sizing: border-box;
}

.button_text {
    font-family: Open Sans;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

/*HEADER FORM*/
.header_form{
    display: inline-block;
    margin-left: 217px;
    width: 370px;
    height: 370px;
    
    background-color: #ffffff;
    border-radius: 8px;
}

.form_title {
    margin-bottom: 44px;
    line-height: 56px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.form_title span {
    color: #EC7979;
}

.form_text{
    display: block;
    width: 252px;
    margin: 0 auto 19px;
    padding-bottom: 19px;
    font-size: 14px;
    border: none;
    border-bottom: 1px solid #BDBDBD;
}

.form_button {
    margin-top: 51px;
    display: inline-block;
    width: 370px;
    height: 54px;
    font-size: 15px;
    font-weight: 600;
    color: #ffffff;
    background: #EC7979;
    border-radius: 0px 0px 8px 8px;
    border: none;
}

/*SOCIAL ICONS*/
.social_media {
    height: 110px;
    width: 100%;
    background-color: #F8EFEF;
}

.social_text {
    display: inline-block;
    margin-left: 100px;
    width: 365px;
    height: 79px;
}

.social_media_title {
    margin-top: 14px;
    margin-bottom: 14px;
    font-size: 20px;
    font-family: Open Sans;
    font-weight: 700;
    color: #333333;;
}

.social_media_subtitle {
    margin-bottom: 17px;
    font-family: Open Sans;
    font-size: 14px;
    color: #86878B;
}

.social_icons {
    display: inline-block;
    vertical-align: super;
    margin-left: 400px;
    
}

/*FEATURES*/
.features {
    
    height: 600px;
    background: url(../image/background_features.png) no-repeat;
    background-position: right 110px top 100px;
}

.frame {
    display: inline-block;
    margin-left: 120px;
    margin-top: 130px;
}

.tabs_blocks {
    width: 112px;
    height: 110px;
    margin-bottom: 10px;
    border-radius: 4px;
    background-color: #333333;
}

.tabs_blocks:first-child {
    background-color: #EC7979;
}

.tab_text {
    font-size: 15px;
    font-weight: 700;
    line-height: 115px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}

.features_text {
    width: 572px;
    display: inline-block;
    vertical-align: top;
    margin: 127px;
    margin-left: 280px;
}

.features_title {
    margin-bottom: 58px;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.features-subtitle {
    margin-bottom: 28px;
    font-family: Open Sans;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;

    color: #86878B;
}

.features_footer {
    margin-bottom: 94px;
    font-family: Open Sans;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;

    color: #86878B;  
}

.features_button {
    width: 135px;
    height: 42px;

    background: #EC7979;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;

    font-family: Open Sans;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-align: center;

    color: #FFFFFF;
}

/*OUR PROCESS*/
.head_awesome {
    text-align: center;
}

.awesome_title {
    padding-top: 100px;
    margin-bottom: 25px;
    color: #212121;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
}

.awesome_line {
    width: 64px;
    height: 2px;
    margin: 0 auto 30px;
    background-color: #e72424;
    border: none;
}

.awesome_subtitle {
    padding-bottom: 36px;
    color: #86878B;
    font-weight: 400;
    font-size: 14px;
}

/*CARD*/
.card_container {
    text-align: center;
}

.card {
    display: inline-block;
    width: 350px;
    margin: 31px 16px 31px;
    padding: 20px 0;
}

.card_icon {
    width: 70px;
    height: 70px;
    margin: 0 auto 16px;
    border-radius: 50%;
    border: 1px solid red;
}

.card_title {
    margin-bottom: 16px;
    color: #333333;
    font-size: 20px;
}

.card_subtitle{
    font-size: 14px;
}

.icon_lamp {
    background: url(../image/lamp.png) no-repeat center;
}

.icon_keyboard {
    background: url(../image/keyboard.png) no-repeat center;
}

.icon_lightning {
    background: url(../image/lightning.png) no-repeat center;
}


